en:
  LanguageName: English
  weight: 1
de:
  LanguageName: Deutsch
  weight: 2
  markup:
    # FIXME: _merge: deep is required to merge the configuration of
    # "markup.tableofContents"
    _merge: deep
    # FIXME: _merge: deep does not seem sufficient to merge `tableOfContents`
    # in Hugo < 0.112 or so
    tableOfContents:
      ordered: false
      startLevel: 2
      endLevel: 2
    # FIXME: Below requires Hugo >= 0.112.0
    # goldmark:
    #   extensions:
    #     typographer:
    #       leftDoubleQuote: "&laquo;"  # default &ldquo;
    #       rightDoubleQuote: "&raquo;" # default &rdquo;
  params:
    website:
      # NOTE: The description of the home page is taken from the home page's params
      description: |
          Simon Heimlicher: ein leidenschaftlicher Leader, der über Führung, Organisationsentwicklung und Technologie schreibt
